.footer{
  background-color:#D2B18B;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.links{
  display:flex;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}

.links a{
  margin:10px;
  font-size: 30px;
  color: white;
}

.footer p{
position: absolute;
bottom: 10px
}